.attribution {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .attribution {
    top: 10px;
    left: 10px;
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header span {
  font-size: 12px;
}
header .picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .enum {
  width: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
}
header .enum span {
  flex: auto;
  text-align: center;
  position: relative;
}
header .theme-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .theme-picker > span {
  align-self: flex-end;
  margin: 5px 20px;
}
header .slider {
  flex: auto;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
}
header .ball {
  height: 16px;
  width: 16px;
  margin: 1px;
  border-radius: 50%;
}
header h3 {
  align-self: flex-end;
}
header #setDarkTheme,
header #setLightTheme,
header #setNegTheme {
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 50px;
  margin-top: -20px;
}

.display {
  display: flex;
  justify-content: end;
  margin: 20px 0;
  width: 100%;
  border-radius: 10px;
}

#screen-io {
  background-color: #fff0;
  border: 0;
  font-size: 48px;
  width: 100%;
  outline: none;
  caret-color: #fff0;
  text-align: end;
  font-family: "Spartan";
  margin: 30px;
  padding: 0;
}

@media screen and (max-width: 600px) {
  #screen-io {
    font-size: 32px;
    margin: 20px 30px;
  }
}
.numpad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.numpad-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.bottom {
  padding: 0 10px;
}

.btn {
  margin: 10px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 32px;
  border-radius: 10px;
}
.btn span {
  margin: 15px;
}

.func {
  font-size: 20px;
}

.wide {
  flex: auto;
}

@media screen and (max-width: 600px) {
  .btn {
    font-size: 28px;
    margin: 5px;
  }

  .func {
    font-size: 16px;
  }

  .wide {
    margin: 3.5px;
  }
}
body {
  font-family: "Spartan";
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

body[theme=dark] {
  color: #fff;
}
body[theme=dark] .slider {
  background-color: #242d44;
  justify-content: start;
}
body[theme=dark] .ball {
  background-color: #d03f2f;
}
body[theme=dark] .attribution a {
  text-decoration: none;
  color: #fff;
}
body[theme=dark] .attribution a:hover {
  color: #242d44;
}
body[theme=dark] .display {
  background-color: #181f33;
}
body[theme=dark] #screen-io {
  color: #fff;
}
body[theme=dark] .numpad {
  background-color: #242d44;
}
body[theme=dark] .btn {
  background-color: #eae3dc;
  color: #434a59;
  box-shadow: inset 0px -4px 0px #b3a497;
}
body[theme=dark] .btn:hover {
  background-color: #fff;
  cursor: pointer;
}
body[theme=dark] .func {
  background-color: #647198;
  box-shadow: inset 0px -4px 0px #414e73;
  color: #fff;
}
body[theme=dark] .func:hover {
  background-color: #a2b2e1;
}
body[theme=dark] .orange {
  background-color: #d03f2f;
  box-shadow: inset 0px -4px 0px #93261a;
  color: #fff;
  font-size: 20px;
}
body[theme=dark] .orange:hover {
  background-color: #f96b5b;
}

body[theme=light] {
  color: #36362c;
  background-color: #e6e6e6;
}
body[theme=light] .slider {
  background-color: #d2cdcd;
  justify-content: center;
}
body[theme=light] .ball {
  background-color: #c85402;
}
body[theme=light] .attribution a {
  text-decoration: none;
  color: #36362c;
}
body[theme=light] .attribution a:hover {
  color: #d2cdcd;
}
body[theme=light] .display {
  background-color: #eeeeee;
}
body[theme=light] #screen-io {
  color: #36362c;
}
body[theme=light] .numpad {
  background-color: #d2cdcd;
}
body[theme=light] .btn {
  background-color: #e5e4e1;
  color: #434a59;
  box-shadow: inset 0px -4px 0px #a79e91;
}
body[theme=light] .btn:hover {
  background-color: #fff;
  cursor: pointer;
}
body[theme=light] .func {
  background-color: #378187;
  box-shadow: inset 0px -4px 0px #1b6066;
  color: #fff;
}
body[theme=light] .func:hover {
  background-color: #62b5bc;
}
body[theme=light] .orange {
  background-color: #c85402;
  box-shadow: inset 0px -4px 0px #873901;
  color: #fff;
  font-size: 20px;
}
body[theme=light] .orange:hover {
  background-color: #ff8a38;
}

body[theme=negative] {
  color: #ffe53d;
  background-color: #17062a;
}
body[theme=negative] .slider {
  background-color: #1e0936;
  justify-content: end;
}
body[theme=negative] .ball {
  background-color: #00ded0;
}
body[theme=negative] .attribution a {
  text-decoration: none;
  color: #ffe53d;
}
body[theme=negative] .attribution a:hover {
  color: #1e0936;
}
body[theme=negative] .display {
  background-color: #1e0936;
}
body[theme=negative] #screen-io {
  color: #ffe53d;
}
body[theme=negative] .numpad {
  background-color: #1e0936;
}
body[theme=negative] .btn {
  background-color: #331c4d;
  color: #ffe53d;
  box-shadow: inset 0px -4px 0px #881c9e;
}
body[theme=negative] .btn:hover {
  background-color: #6c34ac;
  cursor: pointer;
}
body[theme=negative] .func {
  background-color: #56077c;
  box-shadow: inset 0px -4px 0px #be15f4;
  color: #fff;
}
body[theme=negative] .func:hover {
  background-color: #8631af;
}
body[theme=negative] .orange {
  background-color: #00ded0;
  box-shadow: inset 0px -4px 0px #6cf9f1;
  color: #000;
  font-size: 20px;
}
body[theme=negative] .orange:hover {
  background-color: #93fff8;
}

html {
  font-size: 62.5%;
}

main {
  width: 540px;
}

h3 {
  font-size: 35px;
  margin: 0%;
}

h2 {
  font-size: 48px;
  margin: 0;
}

@media screen and (max-width: 600px) {
  main {
    margin-top: 10px;
    width: 90%;
  }
}
body {
  background-color: #3a4663;
}

/*# sourceMappingURL=style.css.map */
