//dark
$dark-bg: #3a4663;
$dark-display: #181f33;
$dark-calculator-face: #242d44;
$dark-num-btn: #eae3dc;
$dark-num-shadow: #b3a497;
$dark-num: #434a59;
$dark-func-btn: #647198;
$dark-func-shadow: #414e73;
$dark-func-hover: #a2b2e1;
$dark-orange: #d03f2f;
$dark-orange-hover: #f96b5b;
$dark-orange-shadow: #93261a;

//light
$light-bg: #e6e6e6;
$light-display: #eeeeee;
$light-calculator-face: #d2cdcd;
$light-num-btn: #e5e4e1;
$light-num-shadow: #a79e91;
$light-num: #36362c;
$light-func-btn: #378187;
$light-func-shadow: #1b6066;
$light-func-hover: #62b5bc;
$light-orange: #c85402;
$light-orange-hover: #ff8a38;
$light-orange-shadow: #873901;

//negative
$negative-bg: #17062a;
$negative-display: #1e0936;
$negative-calculator-face: #1e0936;
$negative-num-btn: #331c4d;
$negative-num-shadow: #881c9e;
$negative-num: #ffe53d;
$negative-num-hover: #6c34ac;
$negative-func-btn: #56077c;
$negative-func-shadow: #be15f4;
$negative-func-hover: #8631af;
$negative-orange: #00ded0;
$negative-orange-hover: #93fff8;
$negative-orange-shadow: #6cf9f1;

//general
$black: #000;
$white: #fff;
