.display {
  display: flex;
  justify-content: end;
  margin: 20px 0;
  width: 100%;
  border-radius: 10px;
}
#screen-io {
  background-color: #fff0;
  border: 0;
  font-size: 48px;
  width: 100%;
  outline: none;
  caret-color: #fff0;
  text-align: end;
  font-family: "Spartan";
  margin: 30px;
  padding: 0;
}
